/* || RESET */
*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "Nunito";
    src: url("../fonts/Nunito-VariableFont_wght.ttf");
}

@font-face{
    font-family: "permanent marker";
    src: url("../fonts/PermanentMarker-Regular.ttf");
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
 
button {
    font: inherit;
    text-align: center;
    justify-content: center;
}

input,
textarea {
    font: inherit;
    text-align: left;
    justify-content: center;
    resize: none;
}

/* || VARIABLES */

:root {
    /* FONTS */
    --FF: "Nunito", sans-serif;
    --FF-HEADINGS: "permanent marker", cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    /* COLORS */
    --BGCOLOR-FADE :#b2cdf1;
    --BGCOLOR: #3670dd;
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BODY-BGCOLOR: #eef2f9;
    --BORDER-COLOR: #21104f;
    --BUTTON-COLOR: #eef2f9;
    --FONT-COLOR: #110626;
    --HEADER-BGCOLOR: #110626;
    --HEADER-COLOR: #eef2f9;
    --HERO-BGCOLOR: rgba(72, 68, 193, 0.75);
    --HERO-COLOR: #eef2f9;
    --HIGHLIGHT-COLOR: rgb(72, 68, 193);
    --LINK-ACTIVE: #3670dd;
    --LINK-COLOR: rgb(18, 5, 41);
    --LINK-HOVER: rgba(18, 5, 41, 0.6);
    --NAV-BGCOLOR: #eef2f9;

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);
    --BORDER-RADIUS-L: 15px;
    --BORDER-RADIUS-S: 5px;
    /* STANDARD PADDING */
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.emphasize {
    color: var(--HIGHLIGHT-COLOR);
    font-weight: bold;
}

/* || GENARAL STYLES */
html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
}

body {
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);

    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER-COLOR);
}

h1, h2, h3 {
    font-family: var(--FF-HEADINGS);
    letter-spacing: 0.1em;
}

h2, h3 {
    margin-bottom: 1em;
    color: var(--HIGHLIGHT-COLOR);
    text-shadow: 1px 1px 1px var(--BGCOLOR-FADE);
}

p {
    line-height: 1.5;
}

a:any-link {
    color: var(--LINK-COLOR);
}

a:hover, a:focus-visible {
    color: var(--LINK-HOVER);
}

a:active {
    color: var(--LINK-ACTIVE);
}

/* || HEADER */

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__h1 {
    text-align: center;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TB), var(--PADDING-SIDE);
}

.header__nav {
    background-color: var(--NAV-BGCOLOR);
    border-bottom: var(--BORDERS);
    font-weight: bold;
    box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
}

.header__ul {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

/* || HERO */

.hero {
    position: relative;
    padding: 2rem var(--PADDING-SIDE);
}

.hero__h2 {
    background-color: var(--HERO-BGCOLOR);
    color: var(--HERO-COLOR);
    padding: 0.25em 0.5em;
    text-shadow: 2px 2px 5px var(--BORDER-COLOR);
    position: absolute;
    top: -100px;
    left: 20px;
    animation: showWelcome 0.5s ease-in-out 0.5s forwards;
}

.hero__figure {
    display: flex;
    justify-content: center;
}

/* || FOOTER */

.footer {
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    text-align: center;
}

/* || ASIDE */

/* .aside__button {
    position: fixed;
    display: flex;
    width: 48px;
    height: 48px;
    right: 10px;
    top: 100px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
} */

.aside {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.aside__a {
    color: var(--FONT-COLOR);
    background-color: var(--BUTTON-COLOR);
    text-decoration: none;
}

.previous__a::before {
    content: "<<";
}

.next__a::after {
    content: ">>";
}

/* || MAIN */

.main {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    min-height: 100vh;
}

.main__article {
    scroll-margin-top: 6.5rem;
    margin: var(--MARGIN);
}

.main__article:first-child {
    margin-top: 1em;
}

.main__article:last-child {
    min-height: calc(100vh - 20rem);
}

.bookTitle__a {
    text-decoration: none;
}

.main__h1 {
    text-align: center;
    font-size: 1.8rem;
}
/* || CONTACT */

.post__h2 {
    margin: 0;
}

.post__fieldset {
    border: none;
}

.post__p {
    margin: 1em 0;
}

.post__label {
    display: block;
    font-weight: bold;
    padding: var(--PADDING-TB) 0;
}

.post__input,
.post__textarea {
    padding: 0.5em;
    border-radius: var(--BORDER-RADIUS-L);
    border-width: 2px;
    width: 100%;
}

.post__button {
    padding: 0.5em;
    border-radius: var(--BORDER-RADIUS-L);
    background-color: var(--HIGHLIGHT-COLOR);
    color: var(--BUTTON-COLOR);
    font-weight: bold;
}

/* || CHAPTER */

.author::before {
    content: "-----";
}

.chapter {
    min-height: 25vh;
}

.chapter__p {
    margin-bottom: 1em;
}

.chapter__p:last-child {
    padding-bottom: 2rem;
}

.chapter__h1 {
    display: block;
    text-align: center;
    font-size: 1.8rem;
}

.chapter__h2 {
    width: 100%;
    /* position: sticky; */
    top: 75px;
    background-color: var(--BODY-BGCOLOR);
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/* || COMMENT */
.commentList {
    list-style: none;
}

.commentItem {
    display: flex;
    justify-content: space-between;
    background-color: var(--BGCOLOR-FADE);
    border-radius: var(--BORDER-RADIUS-S);
    margin: 5px;
    border: var(--BORDERS);
}

.commentButton {
    border-radius: var(--BORDER-RADIUS-S);
    background-color: var(--HIGHLIGHT-COLOR);
    color: var(--BUTTON-COLOR);
    margin: 1px;
    font-weight: bold;
}

@media screen and (min-width: 576px) {
    @keyframes showWelcome {
        0% {
            top: -20px;
            transform: skew(0deg, -5deg) scaleY(0);
        }
    
        50% {
            top: 60px;
            transform: skew(10deg, -10deg) scaleY(1.2);
        }
    
        /* 90% {
            top: 50px;
            transform: skew(-10deg, -5deg) scaleY(1);
        } */
    
        100% {
            top: 50px;
            transform: skew(-10deg, -10deg) scale(1.1) translateX(10px);
        }
    }
}