/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:'Courier New', Courier, monospace; */
    font-family: 'Nunito', 'Courier New';
    /* background-color:#002349; */
}

html {scroll-behavior: smooth;}

h1 {
    padding: 1.5rem;
    /* color: #957C3D; */
}

li a{
    color: black;
}

main {
    position: relative;
    padding: 0 20%;
    opacity: 100%;
}

.introduction header {
    font-size: 1.5rem;
    text-align: center;
    border: 5px solid magenta;
    background-color:lightblue;
}

#banner {
    overflow-x: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255, 97%);
}

article {
    border: 3px solid maroon;
    margin-top: 5px;
}

img {
    border: 1px solid cyan;
}

.comparison {
    display: grid;
    border: 1px solid cyan;
    grid-template-areas:
    "header header"
    "image1 image2"
    "table1 table2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    
    justify-content: left;
}

.comparison header {
    background-color: lime;
    border: 3px solid cyan;
    display: grid;
    grid-area: header;
    place-content: center;
}

.comparison img {
    max-width: 430px;
    grid-area: image1;
    object-fit: cover;
}

.comparison img:nth-of-type(2) {
    grid-area: image2;
}

.comparison table {
    grid-area: table1;
}

.comparison table:nth-of-type(2) {
    grid-area: table2;
}

.primary-nav {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

table {
    border: 1px solid grey;
}

nav ul {
    /* display: grid; */
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.primary-nav li {
    flex: 1 1 auto;
    text-align: center;
}

.primary-nav li a {
    display: flex;
    padding: 10px 203px;
    text-decoration: none;
    font-weight: bold;
}

.primary-nav li a:hover {
    background-color:hsl(260, 30%, 65%);
    color: white;
    font-weight: bolder;
}

